data/
venv/
.ipynb_checkpoints/
.ipynb_checkpoints
*.pyc
.__pycache__/
mlb_pred.egg-info/
!src/data/
!src/
models/
!src/models/
logs/
plots/
notebooks/
*.csv
!data/catcher_framing.csv

# windsurf rules
.windsurfrules

# debug html
debug_html/
